* html #poststuff {
	height: 100%; /* kill peekaboo bug in IE */
}

/* This is the Holly Hack \*/
* html .wrap { height: 1% }
/* For Win IE's eyes only */

body {
	border: none;
	background: #f9fcfe;
	color: #000;
	margin: 0;
	padding: 0;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 0.7em;
}

img {
	border: 0px;
}


.sidebar {
	background: #E6E6E6 url("/image/index/url/icons.box-gray-top.gif") no-repeat scroll left top;
	padding: 8px;
	width: 194px;
}


#footer {
	clear: both;
	text-align: center;
	padding-top: 3px;
}

#footer p{
	font-style: italic;
}

#footer p a{
	font-weight: bold;
}

.external a{
	background: transparent url("/image/index/url/icons.external.png") no-repeat scroll right center;
	padding-right: 13px;	
	margin-right: 2px;
	color: #000099;
}

.external a:visited{
	color: #000099;
}

.external a:hover{
	color: white;
	background-color: #000099;
}

.secure a{
	background: transparent url("/image/index/url/icons.lock_icon.gif") no-repeat scroll right top;
	padding-right: 15px;	
	margin-right: 4px;
	color: gray;
	border: 0px;
	border-bottom: 1px dashed gray;
}

.secure a:visited{
	color: gray;
}

.secure a:hover{
	color: yellow;
	background-color: gray;
}

.infoMacro{
	background-image: url("/image/index/url/emoticons.check.gif");
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-color: #ddffdd;
	width: 85%;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #009900;
	border-right-color: #009900;
	border-bottom-color: #009900;
	border-left-color: #009900;
	text-align: justify;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3%;
	padding-left: 50px;
	padding-top: 10px;
	padding-right: 30px;
}

.infoMacro li {
	/*list-style-image: url("/image/index/url/emoticons.check.gif");*/
	list-style-type: none;
}

.checkMacro{
	background-image: url("/image/index/url/emoticons.information.gif");
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-color: #ddffdd;
	width: 85%;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #3c78b5;
	border-right-color: #3c78b5;
	border-bottom-color: #3c78b5;
	border-left-color: #3c78b5;
	background-color: #d8e4f1;
	text-align: justify;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3%;
	padding-left: 50px;
	padding-top: 10px;
	padding-right: 30px;
}

.checkMacro li {
	/*list-style-image: url("/image/index/url/emoticons.information.gif");*/
	list-style-type: none;
}

.warnMacro{
	width: 85%;
	background-image: url("/image/index/url/emoticons.warning.gif");
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-color: #ddffdd;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #f0c000;
	border-right-color: #f0c000;
	border-bottom-color: #f0c000;
	border-left-color: #f0c000;
	background-color: #ffffce;
	text-align: justify;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 3%;
	padding-left: 50px;
	padding-top: 10px;
	padding-right: 30px;
}

.warnMacro li {
	/*list-style-image: url("/image/index/url/emoticons.warning.gif");*/
	list-style-type: none;
}

.space {
	height: 100px;
}