a{
	text-decoration: none;
	border-bottom: 1px dashed gray;
	color: #007d03;
}

a:visited {
	color: #007d03;
}

a:hover{
	color: white;
	background-color: #007d03;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

textarea, input, select {
	background: #f4f4f4;
	border: 1px solid #b2b2b2;
	color: #000;
	font:  13px Verdana, Arial, Helvetica, sans-serif;
	margin: 1px;
	padding: 3px;
}

.logo{
	text-align: center;
	float: none;
}

.logo p{
	padding: 0px;
	margin: 0px;	
	margin-bottom: -5px;
}

.form{
	
	margin: 2%;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
}

.form #select, .form #file{
	width: 100%;
}

.form fieldset, .form textarea {
	width: 100%;
}

.form fieldset {
	border: 1px solid #9A9FFF;
	background: #E6E7FD;
	margin: 0;
	padding: 0;
}

.form legend {
	font: bold small-caps 120%/1.3 ,verdana ;
    color: #5F78A2;
    background-color: white;
    border: 1px solid #9A9FFF;
    margin-left: 5px;
    margin-top: 1px;
}

.form div{
	padding: 5px 3%;
	color:#333;
}

#contents {
	margin-left: 2%;
	margin-right: 2%;
}

#contents .testo{
	text-align: justify;	
}


#contents .testo li{
	list-style-type: circle;
}

#header {
	text-align: center;
}

#header a, #header a:hover, #header a:visited{
	border: 0;
	color: black;
	background-color: transparent;
}

#header a:hover{
	border-bottom: 1px dotted gray;
}

#wrapper {
	width: 770px;
	background-color:#FFFFFF;
	margin:5px auto;
	border: 1px dotted gray;
	text-align:left;
}

