a{
	text-decoration: none;
	border-bottom: 1px dashed gray;
	color: black;
}

a:visited {
	color: black;
}

a:hover{
	color: white;
	background-color: black;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
}

.logo{
	text-align: center;
	float: none;
}

.logo p{
	padding: 0px;
	margin: 0px;	
	margin-bottom: -5px;
}

#contents {
	margin-left: 2%;
	margin-right: 2%;
}

#contents .testo{
	text-align: justify;
	
}

#header {
	text-align: center;
}

#wrapper {
	width: 770px;
	background-color:#FFFFFF;
	margin:5px auto;
	border: 1px dotted gray;
	text-align:left;
}

